In [1]:
import pandas
import numpy as np
from IPython.display import display

train=pandas.read_json('/Users/knatarasan/workspace/ds/kaggle/twosigma/data/train.json')
train.shape

(49352, 15)

In [2]:
display(train.head(2))

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue

In [3]:
test=pandas.read_json('/Users/knatarasan/workspace/ds/kaggle/twosigma/data/test.json')
print('shape of test',test.shape)
test.head(2)

shape of test (74659, 14)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,1.0,1,79780be1514f645d7e6be99a3de696c5,2016-06-11 05:29:41,Large with awesome terrace--accessible via bed...,Suffolk Street,"[Elevator, Laundry in Building, Laundry in Uni...",40.7185,7142618,-73.9865,b1b1852c416d78d7765d746cb1b8921f,[https://photos.renthop.com/2/7142618_1c45a2c8...,2950,99 Suffolk Street
1,1.0,2,0,2016-06-24 06:36:34,Prime Soho - between Bleecker and Houston - Ne...,Thompson Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7210040,-74.0000,d0b5648017832b2427eeb9956d966a14,[https://photos.renthop.com/2/7210040_d824cc71...,2850,176 Thompson Street

In [11]:
#Data Exploration

# Total number of records
print(len(train.index))
# Number of 'low, medium and high' interest
print(train['interest_level'].value_counts())

49352
low       34284
medium    11229
high       3839
Name: interest_level, dtype: int64

In [12]:
train.columns

Index(['bathrooms', 'bedrooms', 'building_id', 'created', 'description',
       'display_address', 'features', 'interest_level', 'latitude',
       'listing_id', 'longitude', 'manager_id', 'photos', 'price',
       'street_address'],
      dtype='object')

In [47]:
train_imp=train[['bathrooms', 'bedrooms', 'latitude', 'longitude', 'price']]
train_imp.head(5)

        bathrooms  bedrooms  latitude  longitude  price
10            1.5         3   40.7145   -73.9425   3000
10000         1.0         2   40.7947   -73.9667   5465
100004        1.0         1   40.7388   -74.0018   2850
100007        1.0         1   40.7539   -73.9677   3275
100013        1.0         4   40.8241   -73.9493   3350

In [48]:
test=train['interest_level']
test.head(5)

10        medium
10000        low
100004      high
100007       low
100013       low
Name: interest_level, dtype: object

In [51]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train_imp,test,test_size=0.25)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)
print(X_train['bathrooms'].value_counts())
# (37014, 5) (12338, 5) (37014,) (12338,)
# 1.0     29628
# 2.0      5709
print(y_train.value_counts())
# low       25628
# medium     8492
# high       2894

for i in y_train.value_counts():
    print(float(i)/37014)

(37014, 5) (12338, 5) (37014,) (12338,)
1.0     29550
2.0      5734
3.0       567
1.5       483
0.0       251
2.5       218
4.0       117
3.5        51
4.5        18
5.0        15
5.5         4
6.0         3
10.0        1
6.5         1
7.0         1
Name: bathrooms, dtype: int64
low       25660
medium     8476
high       2878
Name: interest_level, dtype: int64
0.6932512022477981
0.2289944345382828
0.07775436321391906

In [54]:
from sklearn.linear_model  import LogisticRegression
from sklearn.metrics import accuracy_score

clf=LogisticRegression()
clf.fit(X_train,y_train)

pred=clf.predict(X_test)
pred_p=clf.predict_proba(X_test)
print('shape',pred_p.shape)
pred_s=pandas.Series(pred)
print('pred shape',pred.shape,'pred type',type(pred))
print('pred_s values',pred_s.value_counts())

print(accuracy_score(y_test,pred))

shape (12338, 3)
pred shape (12338,) pred type <class 'numpy.ndarray'>
pred_s values low       12064
medium      272
high          2
dtype: int64
0.696790403631

/usr/local/lib/python3.6/site-packages/sklearn/linear_model/base.py:352: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)

In [56]:
print(pred_p.shape)
print(pred_p[0])

(12338, 3)
[ 0.00105224  0.9372037   0.06174406]